//====================================================================================================
.footer {
  background-color: #1e1e1e;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  &__coppywrite {
    padding: rem(30) rem(0);
  }
}
//====================================================================================================
